<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ABORT</string>
	<string>ACTION</string>
	<string>ADD</string>
	<string>AFTER</string>
	<string>ALL</string>
	<string>ALTER</string>
	<string>ANALYZE</string>
	<string>AND</string>
	<string>AS</string>
	<string>ASC</string>
	<string>ATTACH</string>
	<string>AUTOINCREMENT</string>
	<string>BEFORE</string>
	<string>BEGIN</string>
	<string>BETWEEN</string>
	<string>BY</string>
	<string>CASCADE</string>
	<string>CASE</string>
	<string>BINARY</string>
	<string>CAST</string>
	<string>CHECK</string>
	<string>NOCASE</string>
	<string>COLLATE</string>
	<string>COLUMN</string>
	<string>timestamp</string>
	<string>RTRIM</string>
	<string>COMMIT</string>
	<string>strftime</string>
	<string>CONFLICT</string>
	<string>CONSTRAINT</string>
	<string>CREATE</string>
	<string>CROSS</string>
	<string>CURRENT_DATE</string>
	<string>CURRENT_TIME</string>
	<string>CURRENT_TIMESTAMP</string>
	<string>DATABASE</string>
	<string>DATETIME</string>
	<string>DEFAULT</string>
	<string>DEFERRABLE</string>
	<string>DEFERRED</string>
	<string>DELETE</string>
	<string>DESC</string>
	<string>DETACH</string>
	<string>DISTINCT</string>
	<string>DROP</string>
	<string>EACH</string>
	<string>ELSE</string>
	<string>END</string>
	<string>ESCAPE</string>
	<string>EXCEPT</string>
	<string>EXCLUSIVE</string>
	<string>EXISTS</string>
	<string>EXPLAIN</string>
	<string>FAIL</string>
	<string>FOR</string>
	<string>FOREIGN</string>
	<string>FROM</string>
	<string>FULL</string>
	<string>GLOB</string>
	<string>GROUP</string>
	<string>HAVING</string>
	<string>IF</string>
	<string>IGNORE</string>
	<string>IMMEDIATE</string>
	<string>IN</string>
	<string>INDEX</string>
	<string>INDEXED</string>
	<string>INITIALLY</string>
	<string>INNER</string>
	<string>INSERT</string>
	<string>INSTEAD</string>
	<string>INTERSECT</string>
	<string>INTO</string>
	<string>IS</string>
	<string>JOIN</string>
	<string>KEY</string>
	<string>LEFT</string>
	<string>LIKE</string>
	<string>LIMIT</string>
	<string>MATCH</string>
	<string>NATURAL</string>
	<string>NO</string>
	<string>NOT</string>
	<string>NOTNULL</string>
	<string>NULL</string>
	<string>OF</string>
	<string>OFFSET</string>
	<string>ON</string>
	<string>OR</string>
	<string>ORDER</string>
	<string>OUTER</string>
	<string>PLAN</string>
	<string>PRAGMA</string>
	<string>PRIMARY</string>
	<string>QUERY</string>
	<string>RAISE</string>
	<string>REFERENCES</string>
	<string>REGEXP</string>
	<string>REINDEX</string>
	<string>RELEASE</string>
	<string>RENAME</string>
	<string>REPLACE</string>
	<string>RESTRICT</string>
	<string>RIGHT</string>
	<string>ROLLBACK</string>
	<string>ROW</string>
	<string>SAVEPOINT</string>
	<string>SELECT</string>
	<string>SET</string>
	<string>TABLE</string>
	<string>TEMP</string>
	<string>TEMPORARY</string>
	<string>THEN</string>
	<string>TO</string>
	<string>TRANSACTION</string>
	<string>TRIGGER</string>
	<string>UNION</string>
	<string>UNIQUE</string>
	<string>UPDATE</string>
	<string>USING</string>
	<string>VACUUM</string>
	<string>VALUES</string>
	<string>VIEW</string>
	<string>VIRTUAL</string>
	<string>WITHOUT</string>
	<string>WHEN</string>
	<string>WHERE</string>
	<string>double</string>
	<string>ROWID</string>
	<string>nvarchar</string>
	<string>integer</string>
	<string>char</string>
	<string>int</string>
	<string>text</string>
	<string>blob</string>
	<string>varchar</string>
	<string>group_concat</string>
	<string>float</string>
</array>
</plist>
